.titulo-noticia{
	color: red;
	font-family: arial;
	font-size: 35px;
	background-color: skyblue;
	text-align: center;
	border-bottom: 4px solid blue;
	display: inline;
}
.header-site{text-align: center}
.item-noticia{
	width: 300px;
	height: 200px;
	/*
	border-style: solid;
	border-color: red;
	border-width: 5px;
	*/
	border-top:solid 25px black;
	border-left:solid 25px blue;
	border-right:solid 25px red;
	border-bottom:solid 25px green;


	
}